<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Facebook" type="AdSage.Concert.Static.ConfigSections.Facebook.FacebookConfigSection,
             AdSage.Concert.Static"></section>
    <section name="Google" type="AdSage.Concert.Static.ConfigSections.Google.GoogleConfigSection,
             AdSage.Concert.Static"></section>
    <section name="AdCenter" type="AdSage.Concert.Static.ConfigSections.AdCenter.AdCenterConfigSection,
             AdSage.Concert.Static"></section>
    <section name="Baidu" type="AdSage.Concert.Static.ConfigSections.Baidu.BaiduConfigSection,
             AdSage.Concert.Static"></section>
  </configSections>
  <!--全局参数配置-->
  <appSettings>
    <add key="PerfPath" value="d:\\UsAFS\\temp" /> <!--For Download Performance-->
    <add key="RemoveGooglePerfFiles" value="false"/>
    <add key="RemoveAdCenterPerfFiles" value="false"/>
    <add key="UserGoogleSandBox" value="False" />
    <add key="UserAdCenterSandBox" value="False" />

    <add key="MaxOnlineManagerWorkerThread" value="5" />
    <add key="CommandTimeout" value="1000" />
    <add key="OnlineCommandTimeoutSeconds" value="600" />
    <add key="GooglePerformanceDownloadTimeoutSeconds" value="600"/>
    <add key="AdCenterPerformanceDownloadTimeoutSeconds" value="600"/>
    <add key="SqlReportTimeoutSeconds" value="1200" />
    <add key="RetryTimes" value="3" />
    <add key="WaitOnTimeout" value="100" />
    <add key="MaxNumberOfKeywordsInBatchBaidu" value="400" />
    <add key="MaxNumberOfKeywordsInBatchPhoenix" value="400" />

  </appSettings>
  <!--Facebook引擎使用的参数配置-->
  <Facebook>
    <Configs>
      <clear />
      <add key="ReLoadDialogVisible" value="true" />
      <add key="Language" value="en-us" />
      <add key="TimeOut" value="120" />
      <add key="UIChunkSize" value="500000" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
      <add key="BulkInputSize" value="5000"/>
      <add key="MaxPerformanceDateRangInterval" value="0"/>
      <add key="ImageLibraryPath" value =""/>
    </Configs>
    <ApiConfig MaxNewAdsCount="0" NewAdsCount="0" UploadDate="" BatchCount="5" 
                   ApiUrl="http://api.facebook.com/restserver.php"></ApiConfig>
  </Facebook>
  <!--Google引擎使用的参数配置-->
  <Google>
    <Configs>
      <clear />
      <add key="RemoveGooglePerfFiles" value="false"/>
      <add key="UserGoogleSandBox" value="False" />
      <add key="GooglePerformanceDownloadTimeoutSeconds" value="600"/>
    </Configs>
  </Google>
  <!--AdCenter引擎使用的参数配置-->
  <AdCenter>
    <Configs>
      <clear />
      <add key="RemoveAdCenterPerfFiles" value="false"/>
      <add key="UserAdCenterSandBox" value="False" />
      <add key="AdCenterPerformanceDownloadTimeoutSeconds" value="600"/>
    </Configs>
  </AdCenter>
  <!--Baidu引擎使用的参数配置-->
  <Baidu>
    <Configs>
      <clear />
    </Configs>
  </Baidu>
</configuration>