<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Common-->
    <add key="ExePath" value="C:\Users\auto\Desktop\AFP\afp.exe" />
    <add key="AlternateExePath" value=""/>
    <add key="DataBasePath" value="C:\Users\auto\Desktop\AFP\Databases"/>
    <add key="DefaultPollingRetryTime" value="50"/>
    <add key="DefaultPollingRetryWaitTime" value="1000"/>
    <add key="ReconnectVpnPath" value="D:\AFPSourceCodes\adSage.Concert\src_test\AFPTest\Scripts\ReconnectVPN.bat"/>
    <add key="DisconnectVpnPath" value="D:\AFPSourceCodes\adSage.Concert\src_test\AFPTest\Scripts\DisconnectVPN.bat"/>
    <add key="NeedVPN" value="true"/>
    <add key="NeedProxy" value="true"/>
    <add key="ProxyAddress" value="127.0.0.1"/>
    <add key="ProxyPort" value="1984"/>
    
    <!--Facebook-->
    <add key="ApplicationKey" value=""/>
    <add key="AccessToken" value=""/>
    <add key="ApplicationID" value=""/>
    <add key="ApplicationSecret" value=""/>
    <add key="Email" value="haih@ad-sage.com"/>
    <add key="PerfEmail" value=""/>
    <add key="AccountName" value=""/>
    <add key="Password" value=""/>
    <add key="AccountId" value="" />
    <add key="UserId" value=""/>
    <add key="HourOffSet" value="-0.8"/>
    <add key="ImagePath" value="D:\AFPSourceCodes\adSage.Concert\src_test\AFPTest\Facebook.UITest\Resources\auto.jpg"/>
    <add key="PageName" value="Dylan's SEM"/>
    <add key="PageUrl" value="http://www.facebook.com/pages/Dylans-SEM/122898281075056"/>
    <add key="PageImagePath" value="D:\AFPSourceCodes\adSage.Concert\src_test\AFPTest\Facebook.UITest\Resources\Dylan's SEM.jpg"/>
    <add key="AppName" value="adSage Ad Editor"/>
    <add key="AppUrl" value="http://www.facebook.com/apps/application.php?id=109849882397319"/>
    <add key="AppImagePath" value="D:\AFPSourceCodes\adSage.Concert\src_test\AFPTest\Facebook.UITest\Resources\adSage Ad Editor.jpg"/>
    <add key="NeedTestFacebookBetaApi" value="false"/>
    <add key="FacebookBetaApiUrl" value="http://api.beta.facebook.com/restserver.php"/>
    <add key="CSVFilePath" value="D:\CSV\"/>
    <add key="CampaignCSV" value="CampaignPerformance.csv"/>
    <add key="AdsCSV" value="AdsPerformance.csv"/>
    <add key="TopCampaignCSV" value="TopCampaignDetails.csv"/>
    <add key="TopAdsCSV" value="TopAdsDetails.csv"/>
    <add key="AccountSummaryCSV" value="AccountSummary.csv"/>

    <!--Google-->
    <add key="GoogleUser" value="adsagetest@163.com"/>
    <add key="GooglePassword" value=""/>
    <add key="GoogleToken" value=""/>

    <!--Adcenter-->
    <add key="AdcenterUser" value="API_msft_adlabs"/>
    <add key="AdcenterPassword" value=""/>
    <add key="AdcenterToken" value=""/>
  </appSettings>
</configuration>